h1{ color: blue;font-family: "Comic";font-size: 35px;}
p{color: cornflowerblue;font-family:"Times";font-size: 25px;} 
ol{color: cornflowerblue;font-family:"Times";font-size: 25px;}
a{color: cornflowerblue;font-family:"Times";font-size: 25px;}
img{border: 10px solid;color:lightgreen;}
